@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .kotak {
        background: linear-gradient(180deg, rgba(239,196,21,1) 0%, rgba(239,123,21,1) 5%, rgba(217,24,24,1) 23%, rgba(217,24,24,1) 71%, rgba(239,123,21,1) 90%, rgba(239,196,21,1) 100%);
    }

    .kotak::before{
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                          linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
        background-size: 25px 25px;
    }
}

  